ul.navbar{
    list-style-type: none;
    background: #C4C4C4;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li.nav-block{
    background: #EDD2D2;
    width: 10rem;
    height: 4rem;
    margin: 1rem 0 1.5rem .7rem;
    display: inline;
    float: left;
    padding-left: 1rem;
}

li a {
    text-decoration: none;
    padding-top: 1rem;
    display: block;
}

li.img{
    background: #EEE7E7;
    border-radius: 50%;
    display: inline;
    float: right;
    width: 5rem;
    height: 5rem;
    margin: 0.5rem 0.5rem 0 0;
}

li.text{
    display: inline;
    float: right;
}