.leader-board h4 {
    background: rgba(0, 0, 0, 0.26);
    padding: 2rem;
}

.leaderboard-wrapper{
    display: flex;
    justify-content: space-between;
}

.create-challenge-btn, .leader-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 7rem;
}


