section.contest-info {
  display: flex;
}

header {
  background: #e5e5e5;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.submission-name {
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  align-items: center;
}

.MuiSvgIcon-root.icon-submission {
  vertical-align: middle;
  font-size: 5rem !important;
}

.submissions-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-circle-icon {
  background: #e8e8e8;
  width: 15rem;
  height: 5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image {
  object-fit: cover;
  max-width: 100px;
  max-height: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.MuiButton-contained.enter-contest-btn {
  background: rgba(0, 0, 0, 0.78);
  color: white;
}

.timer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem;
  width: 50%;
  margin: 1rem;
}

.create-submission {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 1rem;
}

.contest-pic img {
  width: 100%;
  border-radius: 10px;
}

.contest-pic {
  margin: auto;
  width: 40%;
}

.contest-entries {
  display: flex;
  margin: 1rem;
}
