div.contest-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}

.image-container{
    display: flex;
    width: fit-content;
    align-items: center;
}

.MuiSvgIcon-root{
    font-size: 2rem !important;
}

.image-icon{
    margin-left: 1rem;
}

form.input-group{
    display: flex;
    flex-direction: column; 
}

button.form-btn{
    max-width: 80%;
    margin-top: 1rem;
}

.input-group label{
    margin: 1rem;
}